<div id="form_container">


<%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :category %>
  <%= f.select(:category, options_for_select(['News', 'Hiking', 'Camping', 'Gear'])) %>

  <%= f.submit %>

<% end %>

</div>
