<div id="form_container">


<%= form_for @post do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %>

  <%= f.label :content %>
  <%= f.text_field :content %>

  <%= f.label :category %>
  <%= f.select(:category, options_for_select({ News: 'News', Hiking: 'Hiking', Camping: 'Camping', Gear: 'Gear'})) %>

  <%= f.submit %>

<% end %>

</div>

<!-- Good job setting up a post form as a partial view -->
